*{
    margin: 0;
    padding: 0;
}
body{
    background-image: linear-gradient(to right, red, blue, black, white, gery);
}

h1{
    text-align: center;
}
table{
    background: rgb(255, 230, 0);
    left: 30rem;
    position: absolute;
}


table th{
    font-size: x-large;
    color: blue;
}

table td{
    font-size: large;
    font-weight: 700;
}