/* .box{
    width: 100px;
    height: 100px;
    background: red;
    animation-name: example;
    animation-duration: 5s;
    animation-iteration-count: infinite;
} */
/* 
@keyframes example {
    0%{
        background-color: red;
    }
    100%{
        background-color: blue;
    }
} */

.big{
    width: 100px;
    border-radius: 5px;
    height: 100px;
    left: 500px;
    background: grey;
    animation-name: example;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-iteration-count: 2;
    /* animation-direction: reverse; */
    /* animation-fill-mode: forwards; */
    position: relative;
}

@keyframes example {

    0%{
        background-color: blue;
        width: 150px;
        height: 150px;
        top: 0px;
        left: 500px;
        border-radius: 50%;
    }
    25%{
        background-color: yellowgreen;
        top: 500px;
        left: 300px;
        transform: scaleY(.5);
        box-shadow: 0px 15px 5px grey;

    }
    50%{
        background-color: aqua;
        top: 0px;
        left: 100px;
    }
    75%{
        background-color: cyan;
        top: 500px;
        left: 500px;
        border-radius: 50%;
    }
    100%{
        background-color: green;
        top: 0ex;
        left: 500px;
    }

}